body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: #466368;
    background: rgb(131, 58, 180);
    background: -moz-linear-gradient(165deg, rgba(131, 58, 180, 1) 0%, rgba(224, 19, 159, 1) 50%, rgba(252, 176, 69, 1) 100%);
    background: -webkit-linear-gradient(165deg, rgba(131, 58, 180, 1) 0%, rgba(224, 19, 159, 1) 50%, rgba(252, 176, 69, 1) 100%);
    background: linear-gradient(165deg, rgba(131, 58, 180, 1) 0%, rgba(224, 19, 159, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

h1 {
    color: white;
    font-size: 50px;
}